<!DOCTYPE html>
<html>

<head>
    <title>天天假日酒店</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../src/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        
    </div>
    <!--引入js-->
    <script src="../../src/js/libs/bootstrap.js"></script>
</body>

</html>