body {
    background: url("../img/pattern.png") repeat;
}

a {
    cursor: pointer;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default {
    background-color: rgba(0, 53, 128, 0.7);
    border-radius: 0;
}

.navbar {
    /*margin-top: 10px;*/
    margin-bottom: 0;
    border: none;
}

.navbar-brand {
    padding: 0;
}

.logo {
    height: 50px;
}

.link-img {
    margin: 5px 20px;
    margin-right: 0;
}

.link-img img {
    height: 40px;
}

.link-img a:nth-child(1) img {
    padding-right: 20px;
}

.link-text {
    padding-top: 5px;
    font-size: 14px;
    color: #fff;
}

.link-text p {
    margin: 0;
}

.link-text a {
    color: #fff;
}

.link-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 100px;
    max-height: 30px;
    background: rgba(50, 50, 50, 0.8);
    color: #fff;
}

.link-nav>div {
    width: 400px;
}

.link-nav a {
    padding: 5px 15px !important;
    color: #fff;
}

.link-nav .link-list>li>a:hover {
    background: #000 !important;
}

.link-nav .link-list>li>a:active,
.link-nav .link-list>li>a:focus {
    background: #000 !important;
}
.searchBox {
    position: absolute;
    top: 150px;
    left: 100px;
}
.searchBox .panel-body .row {
    margin: 20px 0;
    border-bottom: 1px groove #444;
}