@import "base.scss";
body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"Î¢ÈíÑÅºÚ";}
#allmap {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: 1;
}
.icon-close{
  position: absolute;
  right: 5px;
  color: #666;
  font-size: 0.7rem;
  top: 5px;
}
.return-btn{
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0,0.2);
  left: px2rem(16);
  top: px2rem(24);
  width: px2rem(70);
  height: px2rem(70);
  line-height: px2rem(70);
  border-radius: 50%;
  text-align: center;
  .iconfont{
    font-size: px2rem(37);
    color: #fff;
  }
}