@import "base.scss";

.order-empty{
  display:none;
  padding-top: px2rem(144);
  img{
    display:block;
    width:px2rem(274);
    margin: 0 auto;
  }
  .no-order{
    display:block;
    text-align: center;
    font-size: px2rem(26);
    color:$cf3;
    line-height: px2rem(82);
  }
  .go-btn{
    display:block;
    color: #ffffff;
    width: px2rem(226);
    line-height: px2rem(68);
    text-align: center;
    font-size: px2rem(30);
    margin: px2rem(32) auto;
    background: $cb;
    border-radius: px2rem(6);
    .icon-arrowleft{
      font-size: px2rem(28);
      color: #ffffff !important;
    }
  }
}

.order-list{
  display:none;
  background: #f8f8f8;
}

.order-item{
  margin-top: px2rem(16);
  .order-top{
    background: #ffffff;
    padding:px2rem(16);
  }
  .order-top-inner{
    position: relative;
    padding-left: px2rem(200);
    min-height: px2rem(138);
    .img-box{
      position: absolute;
      left:0;
      top:0;
      width: px2rem(184);
      height:100%;
      overflow: hidden;
      img{
        width:100%;
      }
    }

    .product-name{
      display:block;
      font-size: px2rem(28);
      color: $cf1;
    }
    .product-info{
      display:block;
      font-size: px2rem(24);
      color: $cf2;
    }
    .product-bottom{
      padding-top: px2rem(15);
      line-height: px2rem(45);

      .price{
        color: $co;
        font-size: px2rem(30);
      }
      .status{
        display:block;
        float:right;
        color: $cba;
        font-size: px2rem(28);
      }
    }
  }
  .order-detail{
    .detail-hidden{
      background: #ffffff;
      line-height: px2rem(87);
      border-top: 1px solid $cl;
      font-size: px2rem(22);
      color: $cf1;
      padding: 0 px2rem(16);
      .show-btn{
        float:right;
        color: $cba;
        font-size: px2rem(24);
        .icon-open{
          line-height: px2rem(87);
          font-size: px2rem(16);
        }
      }
    }
    .detail-show{
      display:none;
      .detail-show-inner{
        padding: px2rem(16);
      }
      .product-info{
        font-size: px2rem(24);
        color: $cf1;
      }
      .number{
        display:block;
        float:right;
      }
      .order-info{
        font-size: px2rem(22);
        color: $cf1;
      }
      .info-row{
        display:block;
        padding-left: px2rem(120);
        min-height: px2rem(45);
        line-height: px2rem(45);
        word-break:break-word;
        position: relative;
        .info-label{
          position: absolute;
          top:0;
          left:0;
        }
      }
      .hidden{
        display:none;
      }
      .order-tip{
        font-size: px2rem(22);
        line-height: px2rem(40);
        color: $cf2;
        .icon-tips{
          color: $cf2;
          font-size: px2rem(36);
          line-height: px2rem(40);
        }
      }
      .btn-wrap{
        background: #ffffff;
        line-height: px2rem(88);
        padding: px2rem(16);
        .btn{
          box-sizing: border-box;
          line-height:px2rem(56);
          font-size: px2rem(26);
          text-align: center;
          border-radius: px2rem(6);
        }
        .normal-btn{
          float:left;
          border: 1px solid $cf3;
          color: $cf2;
          width: px2rem(144);
          margin-right: px2rem(16);
        }
        .spec-btn{
          display:none;
          float:right;
          border: 1px solid $cb;
          background: $cb;
          color: #ffffff;
          width: px2rem(178);
          margin-left: px2rem(16);
        }
        .online-btn{
          border: 1px solid $cg;
          background: $cg;
        }
      }
    }

    .detail-retract{
      padding: 0 px2rem(16);
        background: #ffffff;
      height: px2rem(88);
      line-height: px2rem(88);
      .retract-btn{
        float:right;
        color: $cba;
        font-size: px2rem(24);
        .icon-retract{
          line-height: px2rem(88);
          font-size: px2rem(16);
        }
      }
    }
  }
}

.has-order .order-empty{
  display:none;
}
.has-order .order-list{
  display:block;
}

.order-item.open{
  .detail-hidden{
    display:none;
  }
  .detail-show{
    display:block;
  }
  .btn-wrap{
    display:none;
  }
}


/* 1、等待付款，2、等待确认，3、已确认，4、已入住，5、已离店，6、已取消，7、退款中、8、已退款 */
/* 待付款\待确认\已确认\待退款 */
.order-item.statue-1,.order-item.statue-2,.order-item.statue-3,.order-item.statue-7 {
  .detail-hidden{
    display:none;
  }
  .detail-show{
    display:block;
  }
  .detail-retract{
    display:none;
  }
}

/* 待付款，显示“去付款”按钮 */
.statue-1 .pay-btn{
  display:block !important;
}
/* 待确认、已确认，显示“在线选房”按钮 */
.statue-2 .online-btn, .statue-3 .online-btn{
  display:block !important;
}

/* 已确认，已入住，已离店，已取消，退款中、已退款的订单不显示取消按钮 */
.statue-3 .cancel-btn,.statue-4 .cancel-btn,.statue-5 .cancel-btn,.statue-6 .cancel-btn,.statue-7 .cancel-btn,.statue-8 .cancel-btn{
  display:none !important;
}

/* 非在线选房 */
.no-online .online-btn{
  display:none !important;
}