@import "base.scss";

.pay-top{
  text-align: center;
  background: #ffffff;
  border-bottom:1px solid $cl;
  padding: px2rem(34) 0 px2rem(46);
  .pay-icon{
    .iconfont{
      font-size: px2rem(70);
      line-height: px2rem(84);
      color:$cg;
    }
  }
  .pay-title{
    display:block;
    color: $cf1;
    font-size: px2rem(32);
    line-height: px2rem(72);
  }
  .pay-text{
    display:block;
    color: $cf3;
    font-size: px2rem(24);
    line-height: px2rem(24);
  }
}

.icon-info{
  background: #ffffff;
  border-bottom:1px solid $cl;
  padding: px2rem(16);
  .info-content{
    display: block;
    font-size: px2rem(26);
    color: $cf1;
  }
  .info-orider{
    display: block;
    font-size: px2rem(24);
    color: $cf3;
  }
}

.pay-tip{
  margin: 0 px2rem(16) px2rem(32);
  border-bottom-left-radius: px2rem(10);
  border-bottom-right-radius: px2rem(10);
  background: #fdfdfd;
  padding: px2rem(22) px2rem(16) px2rem(22) px2rem(56);
  color: $cba;
  font-size: px2rem(22);
  position: relative;
  .icon-tips{
    font-size: px2rem(30);
    position: absolute;
    left: px2rem(16);
    top: px2rem(22);
  }

}

.pay-link{
  display:none;
  margin: 0 px2rem(16);
  background: url('../images/link_bg.png') no-repeat center;
  background-size: 100% 100%;
  padding: px2rem(35) px2rem(24);
  color: #ffffff;
  box-sizing: border-box;
  .link-label{
    display: block;
    float:left;
    width:65%;
    font-size: px2rem(28);
  }
  .link-btn{
    display: block;
    float:right;
    text-align: center;
    font-size: px2rem(30);
    line-height: px2rem(72);
    width: px2rem(200);
    background: $cg;
    border-radius: px2rem(6);
  }
}

.footer{
  background: #ffffff;
  border-top: solid 1px $cl;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  z-index: 10;
  padding: px2rem(8) 0;
  .btn{
    font-size: px2rem(30);
    text-align: center;
    box-sizing: border-box;
    line-height: px2rem(70);
    width: 47%;
    display:block;
    border-radius: px2rem(5);
  }
  .btn-left{
    margin-left: 2%;
    background: $cb;
    border: 1px solid $cb;
    color: #ffffff;
    float: left;
  }
  .btn-right{
    margin-right: 2%;
    border: 1px solid $cf3;
    color: $cf1;
    float: right;
  }
}