@import "base.scss";


.section{
    background: #ffffff;
    padding: 0 px2rem(16);
    border-top: solid px2rem(16) $cbg;
}

.product-info{
    border-top:none !important;
    .info-inner{
      position: relative;
        padding-bottom: px2rem(20);
        border-bottom: 1px solid $cl;
        .item-tip{
          position: absolute;
          top:0;
          right:0;
          background: #83b0f2;
          color: #ffffff;
          font-size: px2rem(26);
          line-height: px2rem(55);
          padding: 0 px2rem(13);
          border-bottom-left-radius: px2rem(6);
          border-bottom-right-radius: px2rem(6);
        }
    }
    .product-name{
        display:block;
      padding-left: px2rem(50);
      position: relative;
        color: $cf1;
        font-size: px2rem(26);
        line-height: px2rem(70);
      .iconfont{
        position: absolute;
        left: 0;
        top: px2rem(20);
        font-size: px2rem(30);
        line-height: px2rem(30);
        color: $cb;
      }
    }
    .item-name{
        display:block;
        color: $cf1;
        font-size: px2rem(30);
        line-height: px2rem(30);
      .item-attr{
        font-size: px2rem(26);
        float: right;
      }
    }
    .item-info{
        display:block;
        color: $cf3;
        font-size: px2rem(26);
        line-height: px2rem(46);
    }
}

.price-wrap{
  .price-info{
    background: #ffffff;
    line-height: px2rem(110);
    font-size: px2rem(24);
    padding: 0 px2rem(16);
    float:left;
    width:100%;
    box-sizing: border-box;
    color: $cf2;
    .price{
      display: block;
      float:right;
      color:$co;
    }
    .number{
      font-size: px2rem(40);
    }

  }
  img{
    float:left;
    width: 100%;
    transform: translateY(-50%); -webkit-transform: translateY(-50%);
  }
}

.pay-wrap{
  margin-top: px2rem(60);
  .pay-type{
    width:px2rem(312);
    height: px2rem(26);
    border-top: 1px solid $cl;
    margin: 0 auto ;
    text-align: center;
    .pay-label{
      width: px2rem(172);
      margin: 0 auto;
      font-size: px2rem(24);
      line-height: px2rem(24);
      color: $cf2;
      transform: translateY(-50%); -webkit-transform: translateY(-50%);
      background: #eee;;
      padding: 0 px2rem(14);
    }
  }
  .pay-content{
    padding: px2rem(16) px2rem(16) px2rem(16) px2rem(144);
    line-height: px2rem(68);
    background: #ffffff url('//cdn7.jinxidao.com/dvb/front/images/weixin.png') no-repeat px2rem(16) center;
    background-size: px2rem(104);
    font-size: px2rem(30);
    color: $cf1;
    .icon-check{
      display: block;
      float:right;
      color: $cg;
    }
  }
}

.pay-tip{
  padding: px2rem(24) px2rem(16) px2rem(110);
  font-size: px2rem(22);
  color: $cf2;
  .pay-tip-inner{
    position: relative;
    padding-left: px2rem(44);
    .icon-tips{
      position: absolute;
      top:0;
      left:0;
      color: $cf3;
      font-size: px2rem(33);
      line-height: px2rem(39);
    }
  }
}

.submit{
  line-height: px2rem(88);
  color: #ffffff;
  text-align: center;
  background: $cb;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  z-index: 10;
}




.toast-spec{
  color: $co;
}

















































