@import 'base.scss';

.eye-active {
	opacity: 0.5;
}
.eye {
	opacity: 1;
}

.content {
	.list-block { margin: 0 auto; }
	ul {
		li {
			.item-inner {
				.button-fill {
					// margin-bottom: .2rem; 
					// padding: 0 1rem; 
					height: 1.7rem; 
					line-height: 1.7rem;
				}
				.btn-codeval {
					width: 50% !important;
				}
			}
		}
	}
	.content-block {
		.wenxintishi { font-size: .8rem; }
	}
}