@import 'base.scss';


.eye-active {
	color: #afd1f3;
}
.eye {
	opacity: 1;
}
.opacity {
	opacity: 0.5;
}

.content {
	.list-block {
		margin: 0 auto;
		.item-content {
			.button-fill {
				// margin-bottom: .3rem; 
				// padding: 0 1rem; 
				height: 1.7rem; 
				line-height: 1.7rem;
			}
			.item-inner {
				.btn-codeval {
					width: 50% !important;
				}
			}
		}
	}
}
.list-block .item-media+.item-inner {
    margin-left: .5rem;
}

.button.button-fill.button-big {
    line-height: 2.5rem;
}