@import "base.scss";

@mixin transition($property, $duration, $timing, $delay) {
    -moz-transition: $property $duration $timing $delay; /* Firefox 4 */
    -webkit-transition: $property $duration $timing $delay; /* Safari 和 Chrome */
    -o-transition: $property $duration $timing $delay; /* Opera */
    transition: $property $duration $timing $delay;
}
@mixin transform($css) {
    -webkit-transform: $css; /* Safari 和 Chrome */
    -o-transform: $css;  /* Opera */
    -moz-transform: $css;
    transform: $css;
}
.roomselect{
	position: relative;
	i,em{
		   font-style: inherit;
	}
	width: 100vw;
	overflow: hidden;
	background: #eee;
	height: 100vh;
	.roomImages{
		text-align: center;
		margin-bottom: pxToRem(15px);
		padding:pxToRem(100px) pxToRem(10px) pxToRem(10px) ;
		img{
			width: 100%;
		}
	}
	.roomselect_bottomC{
		.selectBox{
			position: fixed;
			bottom: 0px;
			width: 100%;
			z-index: 20;
			height: pxToRem(88px);
			background: #323a42;
			line-height: pxToRem(88px);
			.select_p1,.select_p2{
				width: pxToRem(170px);
				float: left;
				color: #999;
				font-size: pxToRem(26px);
				text-indent:  pxToRem(10px);
				i{
					@include transition(all, 0.3s, ease, 0s);
						@include transform(rotate(0deg));
						-webkit-transform-origin: center center;
						display: inline-block;
						width: 22px;
						height:14px;
						top: 0rem;
						left: 0.05rem;
    					position: relative;
    					line-height: 14px;
    					font-size: 14px;
    					text-align: center;

					&:before{
						vertical-align: middle;
						font-size: 14px;
						color: #999;
						position: absolute;
						left: 0px;
						top: 0px;
						width: 22px;
						height:14px;
						display: block;
						line-height: 14px;
						text-align: center;
						text-indent: -1px;

					}
				}
			}
			.show{
				color:#fff;
				i{
						@include transform(rotate(180deg));
					&:before{
						color:#fff;
						// @include transform(rotate(180deg));
					}
				}
			}
			.submit{
				float: right;
				width: pxToRem(230px);
				background: #4f8eed;
				text-align: center;
				color: #fff;
				font-size: pxToRem(30px);
			}
		}
		.resultView{
			position: fixed;
			bottom: pxToRem(88px);
			width: 100%;
			z-index: 15;
			height: pxToRem(98px);
			background: #fff;
			line-height: pxToRem(98px);
			border-top: 1px solid #eee;
			.leftBox{
				width:  pxToRem(144px);
				background: #fff;
				text-indent:  pxToRem(10px);
				font-size:  pxToRem(24px);
				z-index: 11;
				color: #666;
				position: relative;
				float: left;
				i{
					color: #1e8dff;
				}
			}
			.rightBox{
				position: absolute;
				top: 0;
				left: pxToRem(144px);
				z-index: 10;
				@include transform(translate(0px,0));
				span{
					display: inline-block;
					width:  pxToRem(150px);
					height:  pxToRem(48px);
					border:1px solid #1e8dff;
					color: #1e8dff;
					line-height:  pxToRem(48px);
					border-radius: 3px;
					margin-right: 12px;
					font-size:  pxToRem(24px);
					text-indent:  pxToRem(10px);
					position: relative;
					top: -2px;
					i{
						text-indent:  pxToRem(0px);
						@include transform(rotate(45deg));
						display: block;
						position: absolute;
						right:0px;
						top: 50%;
						font-size:  pxToRem(20px);
						width:  pxToRem(30px);
						height:  pxToRem(30px);
						margin-top: pxToRem(-19px);
						font-weight: bold;
						    font-size: 15px;
					    line-height:pxToRem(30px);
					    text-align: center;
					}
				}
			}
		}
	}
	.float_box{
		position: absolute;
		z-index: 18;
		bottom: pxToRem(88px);
		display: none;
		// @include transform(translate(0px,100%));
		ul{
			max-height: 300px;
			overflow: auto;
		}
	}
	.room_box{
		position: absolute;
		z-index: 14;
		bottom: pxToRem(176px);
		display: none;
		ul{
			max-height: 400px;
			overflow: auto;
		}

	}
	.popupBox{
		width: 100vw;
		background: #fff;
		// border-top: 1px solid #ddd;
		.titlebox{
			text-align: center;
			font-size:  pxToRem(26px);
			font-weight: bold;
			line-height:  pxToRem(68px);
			position: absolute;
			left: 0px;
			top: 0px;
			color: #666;
			border-bottom: 1px solid #ddd;
			background: #fff;
			width: 100%;
		}
		ul{
			padding-top:pxToRem(68px);
			padding-left: pxToRem(15px);
			line-height:  pxToRem(80px);
			min-height: 200px;
			li{
				border-bottom: 1px solid #ddd;
				.l{
					font-size:  pxToRem(24px);
					i{
						display: inline-block;
						margin-right:   pxToRem(15px);
						font-size:  pxToRem(30px);
					}
				}
				.r{
					margin-right:   pxToRem(15px);
					color: #999;
					font-size:  pxToRem(22px);
					    font-style: inherit;
					    float: right;
				}
			}
			.cur{
				.l{
					color: #1d8dff;
					i{
						color: #1d8dff;
					}
				}
				em{
						&:before{
							color:  #1d8dff;
						}
					}
			}
			.forbit{
				color:#ff6263 !important;
				em{
					color:#ff6263 !important;
				}
			}
			.unmatch{
				color:#ccc !important;
				em{
					color:#ccc !important;
				}
			}
		}
	}
}
.rs_alert_routine_success{
	font-size:  pxToRem(100px);
	color: #48cb4e;
 }
.rs_alert_routine_fail{
	font-size:  pxToRem(100px);
	color: #ff6262;
 }
.rs_alert_p{
	font-size: pxToRem(24px);margin-bottom: pxToRem(10px);margin-top: pxToRem(10px);
}

.modal-button{
	border-right:none  !important;
}

.popupBox_show{
	@include transform(translate(0,0));
}
.popupBox_transform_none{
	@include transform(none);
}

.float_box li i{
	&:after{
		content: "、";
	}
}
.float_box li i:last-child{
	&:after{
		content: "";
	}
}

.modal-inner{
	background: #fff;
}
.modal-buttons .modal-button {
	background: #fff;
}
