@import 'base.scss';

.eye-active {
	opacity: 0.5;
}
.eye {
	opacity: 1;
}

.content {
	.list-block {
		margin: 0 auto;
	}
	.item-content {
		.button-fill {
			height: 1.7rem; 
			line-height: 1.7rem;
		}
		.btn-codeval {
			width: 70% !important;
		}
	}
}
.list-block .item-title.label {
	width: 30% !important;
}

@media screen and (max-width: 320px) {
	.content {
		.item-content {
			.button-fill {
				font-size: .5rem;
			}
		}
	}
}